.nav-file,
.nav-folder {
    position: relative;
}

.nav-file:has(> :is([data-path="TODAY.md"]), > :is([data-path="ZETTELKASTEN.md"])),
.nav-folder:has(> :is([data-path="PROJECTS"])) {
    &::before {
        content: " ";
        display: block;
        height: 1em;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        top: calc(0.3em * var(--line-height-tight));
        border-top: 1px solid var(--divider-color);
        z-index: -1;
    }
}